.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 15vh;
    border-bottom: 1px solid var(--primary-purple-color);
}

.header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu .menu-secundario {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 20px;
}

.header .menu .menu-secundario li a {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.header .menu .btn-login {
    border-radius: 4px;
    background-color: var(--primary-purple-color);
    padding: 16px 32px;
    width: 253px;
    height: 52px;
    position: relative;
}

.header .menu .btn-login:before {
    content: url(../../images/Ícone_carrinho.png);
    position: absolute;
    right: -50px;
    top: 10px;
}

.header .menu .btn-login a {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
}

