@media(max-width: 1101px) {
    .header {
        padding: 0 20px;
    }

    .header .menu-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .header .menu-hamburguer-mobile {
        display: block;
    }

    .header .menu-mobile .menu-hamburguer {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul {
        display: none;
        border-radius: 20px;
    }

    .header nav li a {
        text-align: center;
        padding: 20px;
        display: none;
    }

    .header .btn-login {
        display: none;
    }

    .header .cadastro-compras .icone-mobile {
        display: block;
        border-right: 1px solid var(--primary-purple-color);
        padding-right: 20px;
    }

}

@media(max-width: 1101px) {
    .home .container .container-produtos {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 10px;
        padding-bottom: 50px;
    }
}

@media(max-width: 841px) {
    .home .container .container-produtos {
        grid-template-columns: 1fr;
        padding-bottom: 50px;
    }
}

@media(max-width: 900px) {
    .informacoes .container-informacoes {
        flex-direction: column;
        padding-right: 5px;
    }
}

@media(max-width: 900px) {
    .footer {
        padding: 20px 80px;
    }
}