:root {
    --dark-color: #000000;
    --white-color: #ffffff; 
    --primary-purple-color: #6528D3;
    --primary-green-color: #6BB27C;
    --gray-color: #EDEDED;
    --second-purple-color: #130234;
}

:root {
    --primary-font: "Roboto", sans-serif;
}